<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>图片转Ico</title>
  <link rel="stylesheet" href="//unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
  <script src="//cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="//unpkg.com/element-ui@2.13.0/lib/index.js"></script>
  <style>
    body {
      padding: 20px 50px;
    }
  </style>
</head>
<body>
  <div id="indexSPA">
    <h1>图片转Ico</h1>
    <h3>尺寸：（最大为100）<el-input-number v-model="size" :min="1" :max="100" label="尺寸" @change="changeSize"></el-input-number></h3>
    <h3>选择图片：(只能选择一张图片)</h3>
    <el-upload
      action="1"
      accept="image/*"
      :http-request="doUpload"
      :on-change="doTransfer"
      :on-remove="handleRemove"
      list-type="picture-card"
      :limit="1"
      :file-list="files">
      <i class="el-icon-plus"></i>
    </el-upload>
    
    <canvas  ref="canvas" :width="size" :height="size" style="display: none;"></canvas>
    <a ref="download" :href="downloadUrl" style="display: none;">下载按钮</a>
    
    <el-button v-if="downloadUrl" type="primary" @click="$refs.download.click()" style="margin-top: 20px;">保存Icon</el-button>
  </div>

  <script>
    var app = new Vue({
      el: '#indexSPA',
      data: {
        files: [],
        downloadUrl: '',
        img: null,
        size: 32,
      },
      methods: {
        handleRemove: function() {
          
        },
        doUpload: function() {

        },
        changeSize: function() {
          if(this.downloadUrl) {
            var that = this;
            this.$nextTick(function() {
              that.downloadUrl = '';
              var canvas = that.$refs.canvas;
              var ctx = canvas.getContext('2d');
              var a = that.$refs.download;
              // ctx.clearRect(0, 0, canvas.width, canvas.height);
              ctx.drawImage(that.img, 0, 0, that.size, that.size)
              canvas.toBlob(function(blob) {
                var url = URL.createObjectURL(blob);
                that.downloadUrl = url;
                a.setAttribute('download', Date.now()+'.ico');
                // a.click();
                // that.$message.success('请注意查看浏览器的下载目录')
              }, 'image/vnd.microsoft.icon', '-moz-parse-options:format=bmp;bpp='+that.size)
            })
          }
        },
        doTransfer: function(file, fileList) {
          var that = this;
          console.log('raw', file, file.raw)
          if(file && file.raw) {
            var reader = new FileReader();
            reader.readAsDataURL(file.raw)
            var image = new Image()
            reader.onload = function() {
              image.src = this.result;
            }
            // function blobCallback(iconName) {
            //   return function(b) {
            //     var a = document.createElement("a");
            //     a.textContent = "Download Icon";
            //     document.body.appendChild(a);
            //     a.style.display = "block";
            //     a.download = iconName + ".ico";
            //     a.href = window.URL.createObjectURL(b);
            //   }
            // }
            image.onload = function() {
              that.img = this;
              var canvas = that.$refs.canvas;
              var ctx = canvas.getContext('2d');
              var a = that.$refs.download;
              ctx.drawImage(this, 0, 0, that.size, that.size)
              canvas.toBlob(function(blob) {
                var url = URL.createObjectURL(blob);
                that.downloadUrl = url;
                a.setAttribute('download', Date.now()+'.ico');
                // a.click();
                // that.$message.success('请注意查看浏览器的下载目录')
              }, 'image/vnd.microsoft.icon', '-moz-parse-options:format=bmp;bpp='+that.size)

              // canvas.toBlob(blobCallback(Date.now()), 'image/vnd.microsoft.icon', '-moz-parse-options:format=bmp;bpp=32')
            }
          }
        },
      }
    });
  </script>
</body>
</html>
